*{
  letter-spacing: .04em;
}

.main{
  max-width:620px;
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラノギ角ゴ Pro W3", sans-serif;
}

.choices{
  padding: 0;
}

li{
  font-weight: 900;
  list-style: none;
  padding: 13px;
  margin-bottom: 10px;
  border: 1px solid #8585852a;
  box-shadow: 0px 1px 1px 0px rgba(177, 174, 174, 0.733);
}

h1{
  width: 500px;
  font-size: 19px;
}

h2{
  font-size: 17px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  display: inline-block;
  width: 130px;
  height: 2px;
  background-color: rgb(34, 165, 1);
}

h2:last-child:after{
  left: 100px;
}

.image{
  width: 100%;
  margin: 0 auto;
  display: block;
}

section{
  width: 100%;
  margin: 10px auto;
}

#truebox1{
  display: none;
  background-color: rgba(204, 203, 203, 0.158);
  padding: 13px;
}

.truebox1_text::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #287dff;
}

#falsebox1{
  display: none;
  background-color: rgba(204, 203, 203, 0.199);
  padding: 13px;
}

.falsebox1_text::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  display: inline-block;
  width: 65px;
  height: 3px;
  background-color: #ff5128;
}

.truebox1_text, .falsebox1_text{
  font-weight: 900;
  position: relative;
}

#truebox1, #falsebox1{
  line-height: 2.5em;
}